# CMake stuff
CMakeCache.txt
#CMakeFiles
#Makefile
cmake_install.cmake
install_manifest.txt
#CMakeLists
CMakeOutput

# Data and test dirs
.*.swp
DebugRna
*.gtf
*.fa
*.gff
*.bam
*.bai
test_data/
*.history
play/
build/